html {
  height: 100%;
  width: 100%;
  font-family: "Lucida Console", Monaco5, monospace;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgb(18, 30, 94), rgb(237, 246, 250));
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fffede;
  background: rgba(255, 255, 254, 0.7);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #fffede;
}

#list {
  margin: 10px;
  border: 1px solid #fffede;
  background: rgba(158, 180, 219, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #fffede;
}

.completed {
  text-decoration: line-through;
  color: gray;
}